{% extends 'hotel/base.html' %}
{% block title %}Book Order {% endblock title %}
{% block content %}
<div class="fixed-top text-end my-3 bg-white"  ><h4><strong id="all_qty"  class="badge bg-danger ">{{ng}}</strong>- एकुण नग </h4></div>



    <div class="container my-5">
        <a href="/admin_dashboard"   class="btn btn-danger" >Back</a>
        {% for dc in dish_category %}
        <a  class="btn btn-success my-2 mx-2" onclick="filter_by_category('{{dc.id}}')">{{dc.category_name}}</a>
        {% endfor %}
        </div>



      
        <div class="container">
          
        <div id="dish_result"></div>
        
        
        </div>


        <script>


  //plus code
  
  function plus(id,price){
    var qty = document.getElementById('qty'+id).innerText
    if(qty < 50){
      qty++;
    document.getElementById('qty'+id).innerText=qty;
    p=qty*price
    document.getElementById('prc'+id).innerText=p;
     //speak code
      
     const msg = new SpeechSynthesisUtterance;
    msg.text=qty;
    
    msg.voice=speechSynthesis.getVoices()[1];
    speechSynthesis.speak(msg);
    }
      }
      
    // minus btn code
  
      function minus(id,price){
    var qty = document.getElementById('qty'+id).innerText
    if(qty > 1){
    qty--;
    document.getElementById('qty'+id).innerText=qty;
    p=qty*price
    document.getElementById('prc'+id).innerText=p;
     //speak code
      
     const msg = new SpeechSynthesisUtterance;
    msg.text=qty;
    
    msg.voice=speechSynthesis.getVoices()[1];
    speechSynthesis.speak(msg);
    }
      }







//fiter category code
  
function filter_by_category(id){        
    $("#dish_result").empty()
    $.ajax({
      url: "{% url 'filter_by_category' %}",
    method: "GET",
    data:{
      dish_category_id:id,   
    },
    success: function(data){
      $("#dish_result").empty()
      //${data.dish[key].dish_name}
      for (var key=0; key<100; key++){
        var temp =`
                  
                  <div class="col-sm-4 border my-5 mx-3">
  <div class="row text-center my-3">
    <div class="col-12"><h4>${data.dish[key].dish_marathi_name}</h4></div>
    <input  type="hidden" id="myText${data.dish[key].id}" value="${data.dish[key].dish_name}"></input>
  </div>
    <div class="row text-center">
      <div class="col-12">Rs <strong  id="prc${data.dish[key].id}"  >${data.dish[key].price}</strong></h5></div>
      
    </div>
  
    <div class="row my-4 text-center">
          <div class="col-2 mx-2"><button type="button" onclick="minus(${data.dish[key].id},${data.dish[key].price})" class="btn btn-success px-3">-</button></div>
          <div class="col-1"><strong  id="qty${data.dish[key].id}"  >1</strong></div>
          <div class="col-2"><button type="button" onclick="plus(${data.dish[key].id},${data.dish[key].price})" class="btn btn-success px-3" >+</button></div>
          <div class="col-6"><button type="button" class="btn btn-danger mx-auto" onclick=place_order(${data.dish[key].id})>Confirm </button></div>
        </div>
    </div>
  
  
                  `
                  $("#dish_result").append(temp);
      }
    }
    })
  }
  





  function place_order(id){
    var qty =document.getElementById('qty'+id).innerText;
    var total_price=document.getElementById('prc'+id).innerText;
    sp=(qty + 'quantity')
    
    const textInput = document.querySelector('#myText'+id);
    const msg = new SpeechSynthesisUtterance;
    msg.text=(textInput.value + sp  );
    msg.voice=speechSynthesis.getVoices()[2];
    speechSynthesis.speak(msg);


    $.ajax({
      url: "{% url 'place_order' %}",
      method:'GET',
      data:{
        dish_id:id,
        qty:qty,
        total_price:total_price
      },
      success: function (data){
        ng=(data.ng)
        
        document.getElementById('all_qty').innerHTML=ng
      }
  
    })
  }
  
  
  
  



        </script>
{% endblock content %}
